@import '../../styles.scss';

.page-details{
    padding-top: 40px;

    .low-stock{
        color: #ff0000;
    }

    .product-details{
        display: flex;

        .image-area{
            width: 50%;
            padding-right: 20px;

            .image-container{
                padding: 20px;

                img{
                    width: 100%;
                }
            }
        }

        .info-area{
            width: 50%;
            padding-left: 20px;

            .tbl-info{
                display: flex;

                .label{
                    width: 40%;
                }

                .value{
                    width: 60%;
                    color: $main-orange;
                }
            }
        }
    }
}